@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    margin:0;
    padding: 0;
}
.right-content{
    background: linear-gradient(190deg,rgb(1, 12, 18),rgb(243, 247, 249));
    width: 100%;
    min-height:100vh ;
}
.container{
    background: linear-gradient(135deg,rgba(3, 5, 46, 0.956), rgba(55, 159, 245, 0.3)),
      url(./bank5.jpg) no-repeat;
    background-size: 1000px 720px;
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    box-shadow:5px 8px 0 rgba(248, 246, 246, 0.956), 0 7px 20px 0 rgba(0, 0, 0, 0.2); ;
}

.app-wrapper{
    background:transparent;
    ;
    border:2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(50px);
    min-width: 410px;
    min-height: 500px;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.956), 0 7px 20px 0 rgba(0, 0, 0, 0.2);

    border-radius: 10px;
    margin-right: 100px;
}

.title{
    color: rgb(244, 240, 245);
    text-shadow: 3px 3px #020b22;
    text-align: center;
    margin: 80px 8px 40px 8px; 
}
.name,.email, .password, .confirmpassword{
    margin: 20px;
    color:rgb(248, 248, 249) ;
    font-size: 18px;
}
.password{
    margin-bottom: 40px;
}

.input{
    height: 32px;
    font-size: 16px;
    color: aliceblue;
    outline:none;
    width:100%;
    border-top: 10px rgba(247, 220, 245, 0.933);
    border-left: none;
    border-right: none;
    background-color:transparent;
}

.error{
    color: red;
}
.radio label{
    padding-left: 20px;
    font-size: 18px;
 }
.radio-spacing{
    margin-right: 80px;
}
.submit{
    display: flex;
    font-size: 20px;
    border-radius: 30px;
    color: white;
    padding: 10px 60px;
    background: linear-gradient(
        90deg,
        rgb(13, 182, 243) 0%,
        rgb(8, 1, 14) 100%
      );
    
    margin: auto;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.1s;
}
.button-container{
    margin-top: 20px;
}
.radio{
    color: #f7f3f3f7;
}
.submit:hover{
    background: linear-gradient(
      90deg,
      rgb(39, 143, 255) 0%,
      rgb(15, 4, 27) 100%
    );
    transition: all 0.1s ease-out;
}
button:active{
    transform: translateY(2px);
}

.form-success{
    display: flex;
    justify-content: center;
    margin-top: 250px;
    max-width: 370px;
    color: #f6f8fe;
}
@media (max-width: 768px) {
    .container {
        justify-content: center;
    }

    .app-wrapper {
        margin-right: 0;
    }
}


@media (max-width: 480px) {
    .title {
        font-size: 24px; 
    }

    .name,
    .email,
    .password,
    .confirmpassword {
        font-size: 16px; 
    }

    .input {
        height: 28px;
    }

    .radio label {
        font-size: 16px; 
    }

    .radio-spacing {
        margin-right: 40px;
    }
    .submit {
        padding: 8px 40px; 
        font-size: 18px;

    .form-success {
        margin-top: 150px;
    }
}}


@media (max-width: 320px) {
    .title {
        font-size: 20px; 
    }

    .submit {
        padding: 8px 20px; 
    }
}